@model NewsAgregator.Mvc.Models.Articles.ArticleDetailModel

<div class="container">
    <div class="card bg-body-secondary col-12">
        <img src="@Model.UrlHeader" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <div class="row justify-content-center">
                @Html.Raw(Model.Content)
            </div>
            <p>@Model.PositiveIndex</p>
            <p>@Model.LikesCount</p>
        </div>
    </div>
    @if (Model.Comments != null)
    {
        @foreach (var comment in Model.Comments)
        {
            <div class="container">
                <h4>@comment.User</h4>
                <p>@comment.Text</p>
                <p>@comment.Created</p>
            </div>
        }
    }
</div>