@model NewsAgregator.Mvc.Models.Articles.ArticleDetailModel

<div class="container">
    <div class="card bg-body-secondary col-12">
        <img src="@Model.UrlHeader" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <div class="row justify-content-center">
                @Html.Raw(Model.Content)
            </div>
            <p>@Model.PositiveIndex</p>
            <p>@Model.LikesCount</p>
        </div>
    </div>
</div>