@model NewsAgregator.Mvc.Models.Articles.ArticleModel;

<div class="col-4">
    <div class="card mb-3">
        <img src="@Model.UrlHeader" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title"><a class="text-decoration-none" asp-action="Detail" asp-controller="Article" asp-route-id="@Model.Id">@Model.Title</a></h5>
            <p class="card-text">@Html.Raw(Model.ShortDescription)</p>
            <p class="card-text"><small class="text-muted">@Model.LikesCount likes</small></p>
            <a asp-action="Detail" asp-controller="Article" class="btn btn-primary" asp-route-id="@Model.Id">Explore</a>
        </div>
    </div>
</div>